<form *ngIf="pokemon" (ngSubmit)="onSubmit()" #pokemonForm="ngForm">
    <!-- ngForm ci-dessus représente le formulaire au niveau global -->
    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            <div class="card p-3">

                <!-- Pokemon name -->
                <div class="form-group">
                    <label class="form-label" for="name">Nom</label>
                    <input type="text" class="form-control" id="name"
                           required
                           pattern="^[a-zA-Z0-9àéèç]{1,25}$"
                           [(ngModel)]="pokemon.name" name="name"
                           #name="ngModel"><!-- name stocke un champ du formulaire -->
                    <!-- pristine : pas encore eu d'interaction avec le champ -->
                    <div [hidden]="name.valid || name.pristine"
                         class="card-panel red accent-1">
                        Le nom du pokémon est requis (1-25).
                    </div>
                </div>

                <!-- Pokemon hp -->
                <div class="form-group">
                    <label class="form-label" for="hp">Point de vie</label>
                    <input type="number" class="form-control" id="hp"
                           required
                           pattern="^[0-9]{1,3}$"
                           [(ngModel)]="pokemon.hp" name="hp"
                           #hp="ngModel">
                    <div [hidden]="hp.valid || hp.pristine"
                         class="card-panel red accent-1">
                        Les points de vie du pokémon sont compris entre 0 et 999.
                    </div>
                </div>

                <!-- Pokemon cp -->
                <div class="form-group">
                    <label class="form-label" for="cp">Dégâts</label>
                    <input type="number" class="form-control" id="cp"
                           required
                           pattern="^[0-9]{1,2}$"
                           [(ngModel)]="pokemon.cp" name="cp"
                           #cp="ngModel">
                    <div [hidden]="cp.valid || cp.pristine"
                         class="card-panel red accent-1">
                        Les dégâts du pokémon sont compris entre 0 et 99.
                    </div>
                </div>

                <!-- Pokemon types -->
                <form class="form-group">
                    <label class="form-label" for="type">Types</label>
                    <p *ngFor="let type of types">
                        <input type="checkbox"
                               class="filled-in"
                               id="type"
                               [value]="type"
                               [checked]="hasType(type)"
                               [disabled]="!isTypesValid(type)"
                               (change)="selectType($event, type)"
                        />
                        <label>
                            <span [attr.for]="type">
                                <button class="{{ type | pokemonTypeColor }} mx-3">
                                  {{ type }}
                                </button>
                            </span>
                        </label>
                    </p>
                </form>

                <!-- Submit button -->
                <div class="divider"></div>
                <div class="section center">
                    <button type="submit"
                            class="btn btn-primary"
                            [disabled]="!pokemonForm.form.valid"
                    >
                        Valider
                    </button>
                </div>

            </div>
        </div>
    </div>
</form>
<h3 *ngIf="!pokemon" class="center">Aucun pokémon à éditer...</h3>